@model basic_html_css.Models.ViewModels.TaskViewModel
<div>
    <h2>Form Task</h2>
    <form action="" method="#">
        <div class="form-input">
            <span>Task</span>
            @Html.HiddenFor(n=>n.Id)            
            @Html.TextBoxFor(m => m.Name, new { @placeholder = "Name", required = "required" })            
        </div>
        <div class="form-input">
            <span>Jenis Task</span>
            <select id="JenisTask" name="JenisTask">
                        <option value="0">Todo                        
                        </option>
                        <option value="1">Memo</option>
                        <option value="2">Information</option>
                    </select>
        </div>
        <div class="form-input">
            <span>Deskripsi</span>
            @Html.TextAreaFor(m => m.Deskripsi)
            
        </div>
        <div class="form-input">
            <span>Publish</span>
            @Html.CheckBoxFor(m => m.Publish)
        </div>
        <div class="form-input">
            <span>Effort Task</span>            
            @Html.TextBoxFor(m => m.EffortTask, new { type = "number",@placeholder = "Effort Task" , required = "required"})


        </div>
        <div class="form-input">
            <div class="col-2"><input type="button" class="button button-success" value="Save"/></div>
            <div class="col-2"><input type="button" class="button" value="Batal"/></div>
        </div>
    </form>
</div>

<script>    
    $(document).ready(function(){
    $(".button-success").on('click',function(){
        $("input,select").each(function()
        {
            var element =$(this);
            if(element.attr('id')!==undefined)
            alert(element.attr('id')+" : "+element.val());
        });
    });
    });
</script>